@import "tailwindcss";


* {
  /* outline: 1px solid green; */
}

img {
  object-fit: cover;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

h2{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f2ed;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c55a11;
  border-radius: 999px;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a79c92 #f5f2ed;
}


@keyframes fade{
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.feature-fade {
  animation: fade 0.2s ease-in-out ; 
}